{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mannatxdev</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <nav>
        <a href="#about">about</a>
        <a href="#project">project</a>
        <a href="#skills">skills</a>
        <a href="#contact">contact</a>    
        <a href="#resume">resume</a>    
    </nav>

    <section class="H">
        <div class="H-T">
            <h1>Hi,I'am Mannat Shandilya</h1>
            <p>I am a passionate developer building applications with Python full-stack technologies.</p>
            <a href="#resume"><button>Resume</button></a>
        </div>
    </section>
</body>
</html>